.headers{
    background-color: #566129;
    margin: 0px 3px 10px 0px;
    color: white;
    font-size: 1.3em;
    border-radius: 10px 10px 3px 3px ;
    font-weight: bold;
    
}

.SearchResultsGridContainer{
    display: flex;
    height: 65vw;
}
